<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Hi there! <br />
                My name is Céline and I am a recent graduate in Natural Language Processing. I am a language lover, and by that, I mean <em>any</em> kind of languages - may they be programming or natural languages. 
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                <br />
                Additionally, I also love teaching - even more so if it is teaching programming languages.
                This portfolio will give you a quick overview of my projects, research and experience. If you would like to chat about any of these, do no hesitate to reach out!
        </div>
    </div>
</section>
