<section class="container container-instagram">
    <div class="row">
        <div class="col-md-12">
            <h1>Projects and research</h1>
        </div>
        <div class="col-sm-12 col-md-12">
            <p>
                <strong><em><font size="+2">Untangling LLMs: how good is XLM-RoBERTa when it comes to error checking?</font></em></strong><br/>
                <strong><em>Keywords:</em></strong> LLMs, Deep Learning, Grammatical Error Detection, Linguistics<br/>
                <strong>In short:</strong> the LLM XLM-RoBERTa is the state-of-the-art of multilingual grammatical error detection. But in which areas of the grammar does the model struggle the most? <br/>
                <strong>Results:</strong> the model missed more errors related to syntax, morphology and lexicon than punctuation and orthography. More specifically, the model seems to struggle with tense coordination, agreement, missing words and prepositions.<br/>
                <strong>Wanna know more? </strong><a href="https://github.com/CelineNausicaa/celinenausicaa/blob/gh-pages/_includes/downloads/CL_thesis_untanglingLMs_reviewed.pdf">Check it out on Github</a>

<!--                 <a href="_includes/downloads/CL_thesis_untanglingLMs_reviewed.pdf" download="CL_thesis_untanglingLMs_reviewed.pdf">Download the PDF here</a> -->

            </p>
        </div>
        <div class="col-sm-12 col-md-12">
            <p>
                Comparing LLMs 
            </p>
        </div>
        <div class="col-sm-12 col-md-12">
            <p>
                Dialogue-based language game 
            </p>
        </div>
        <div class="col-sm-12 col-md-12">
            <p>
                The alphabet quiz 
            </p>
        </div>
        <div class="col-sm-12 col-md-12">
            <p>
                Studying an endangered language: the morphosyntax of Luwo 
            </p>
        </div>
        <div class="col-sm-12 col-md-12">
            <p>
                Language complexity at the era of large typological databases 
            </p>
        </div>
<!--         <div class="col-md-12"> -->
            <!-- Generate such a widget at snapwidget.com for your name -->
            <!-- Copy/paste code here or just update the snapwidget value at _config.yml -->
<!--             <script src="https://snapwidget.com/js/snapwidget.js"></script> -->
<!--             <iframe src="https://snapwidget.com/embed/{{ site.snapwidget }}" class="snapwidget-widget" allowTransparency="true" -->
<!--                     frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe> -->
<!--         </div> -->
    </div>
</section>
