<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <section class="container container-skills">
        <div class="row">
            <div class="col-md-12">
                <h1>Skills</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Language Skills</h2>
                <div class="circles">
                    <div class="circle filled"></div>
                    <div class="circle filled"></div>
                    <div class="circle filled"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
