<header class="container-fluid container-top">
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <img 
                src="./web-dist/images/cv_pic_cropped.png" 
                style="width: 150px; height: auto; border-radius: 50%; display: block; margin: 0 auto;" 
                alt="{{ site.brand }}"
            />
            <h1 class="container-top-name">
                {{ site.brand }}
            </h1>
            <h2 class="container-top-headline">
                {{ site.headline }}
            </h2>
        </div>
    </div>
</header>
